@import '../../scss/variables';

.contact-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: $white-color;
    width: 100vw;
    height: 100vh;

    h1 {
        margin-top: 100px;
        height: 60px;
        font-size: 2rem;
    }

    @media (max-width: 1400px) {
        h1 {
            margin-top: 90px;
        }
    }

    hr {
        width: 40%;
        margin: 30px auto;
        height: 6px;
        background: black;
    }

    @media (max-width: 1400px) {
        hr {
            margin: 10px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 900px;
        height: 600px;
        padding: 10px;
        background: $black-glass-color;
        box-shadow: 1px 1px 10px black;

        border-radius: 8px;

        fieldset {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            border: none;

            input {
                width: 600px;
                height: 40px;
                margin: 10px;
                outline: none;
            }

            input::-webkit-input-placeholder {
                padding-left: 10px;
            }


            @media (max-width: 700px) {
                input {
                    width: 320px;
                }
            }
        }

        textarea {
            width: 600px;
            outline: none;
        }

        textarea::-webkit-input-placeholder {
            padding-left: 10px;
        }

        @media (max-width: 700px) {
            textarea {
                width: 320px;
            }
        }

        button {
            width: 30%;
            height: 30px;
            border-radius: 8px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            margin: 10px;
            background: $white-color;
            box-shadow: 1px 1px 10px $white-color;
            transition: all .3s ease-in-out;
        }

        .btn-success {
            background: #4CAF50;
        }

        .btn-fail {
            background: #f44336;
            color: white;
        }

        button:hover {
            transform: scale(1.03);
            box-shadow: 0px 0px 20px $white-color;
        }

        @media (max-width: 700px) {
            button {
                width: 60%;
                height: 12%;
                font-size: 18px;
            }
        }
    }

    @media (max-width: 1400px) {
        form {
            margin-top: 20px;
            width: 700px;
            height: 400px;
        }
    }

    @media (max-width: 700px) {
        form {
            width: 350px;
            height: 500px;
            margin-bottom: 20px;
        }
    }
}