@import '../../scss/variables.scss';

.main-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    header {

        h1 {
            color: $white-color;
            font-size: 4rem;
            font-family: $poppins-font;
            text-shadow: 2px 2px 15px $white-color;
        }

        p {
            color: white;
            font-size: 2rem;
            font-family: $poppins-font;
            text-shadow: 2px 2px 15px $white-color;

        }

        @media (max-width: 700px) {
            height: 50%;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

}

.main-bg {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}