@import '../../scss/variables.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s ease-in-out;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 3;
    overflow: hidden;

    .personal-logo {
        width: 110px;
        margin-right: 20px;
        cursor: pointer;
    }

    .navigation-container {
        display: flex;
        align-items: center;
        margin-left: 20px;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                margin-top: 20px;
                height: 40px;
                margin-right: 20px;
                color: $white-color;
                font-weight: bold;
                cursor: pointer;
            }

            li:hover {
                border-bottom: 4px solid $primary-color;
            }
        }

        @media (max-width: 767px) {
            ul {
                display: none
            }
          }
    }

    .transition-div {
        width: 50px;
        margin-right: 20px;
    }

    .burger-svg {
        fill: $white-color;
        cursor: pointer;
        z-index: 5;
        transition: .4s ease-in-out;
        width: 50px
    }

    .burger-svg-hide {
        width: 0;
    }

    .closing-button-slider {
        width: 50px;
        height: 50px;
        margin: 30px 10px 0 0;
        fill: $white-color;
        cursor: pointer;
        z-index: 5;
        transition: .6s ease-in-out;
    }
}

.active {
    background: $black-glass-color;
    z-index: 3;
    box-shadow: 1px 1px 15px $gray-color;
}