@import '../../scss/variables.scss';

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: $white-color;

    .skill-container-h1 {
        margin-top: 100px;
        margin-bottom: 40px;
        font-size: 2rem;
    }

    @media (max-width: 1400px) {
        .skill-container-h1 {
            margin: 30px;
        }
    }

    @media (max-width: 700px) {
        .skill-container-h1 {
            margin: 10px;
        }

        hr {
            margin: 20px;
        }
    }

    hr {
        width: 40%;
        height: 6px;
        margin-bottom: 150px;
        background: black;
    }

    @media (max-width: 1400px) {
        hr {
            margin-bottom: 30px;
        }
    }

    .skill-container-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 70%;

        .skill-container-content-svg {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            max-width: 300px;

            a {
                box-shadow: 1px 1px 10px black;
                padding: 10px;
                border-radius: 8px;
            }

            .skill-container-content-svg-image {
                width: 70px;
                height: 70px;
                transition: 0.2s ease-in-out;
            }
        }

        .skill-container-content-svg-image:hover {
            transform: scale(1.1);
        }

        .skill-container-side-text {
            width: 400px;
            height: 90%;

            .skill-container-side-text-h1 {
                margin-bottom: 20px;
                font-size: 2rem;
            }

            p {
                font-size: 20px;
            }
        }

        @media (max-width: 700px) {
            .skill-container-side-text {
                margin: 30px;
            }
        }
    }

    @media (max-width: 700px) {
        .skill-container-content {
            width: 300px;
        }
    }
}

@media (max-width: 1400px) {
    .skill-container {
        padding: 70px;
    }
}