@import '../../scss/variables.scss';

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: $white-color;

    .skill-container-h1 {
        margin: 100px 0 100px 0;
        font-size: 5rem;
        font-family: 'Ginger Bold';
    }

    @media (max-width: 1400px) {
        .skill-container-h1 {
            margin: 30px;
        }
    }

    @media (max-width: 700px) {
        .skill-container-h1 {
            margin: 10px;
        }
    }

    .skill-container-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .skill-container-content-svg {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            max-width: 300px;
            margin-left: -200px;
            opacity: 0;
            transition: all .6s ease-in-out;


            a {
                box-shadow: 1px 1px 10px black;
                padding: 10px;
                border-radius: 8px;
            }

            .skill-container-content-svg-image {
                width: 70px;
                height: 70px;
                transition: 0.2s ease-in-out;
            }
        }

        .skill-container-content-svg-animation {
            margin-left: 0px;
            opacity: 10;
        }

        .skill-container-content-svg-image:hover {
            transform: scale(1.1);
        }

        .skill-container-side-text {
            margin-right: -200px;
            transition: all .6s ease-in-out;
            opacity: 0;

            .skill-container-side-text-h1 {
                width: 425px;
                font-size: 2.5rem;
                text-align: center;
            }

            & > h2 {
                text-align: center;
            }

            & > p {
                width: 425px;
                font-size: 1.3rem;
                margin-top: 30px;
                text-align: center;
            }
        }

        .skill-container-side-text-animation {
            margin-right: 0px;
            opacity: 10;
        }

        @media (max-width: 700px) {
            .skill-container-side-text {
                margin: 30px;
            }
        }

        @media (max-width: 1400px) {
            .skill-container-side-text {
                width: 400px;
            }
        }
    }

    @media (min-width: 1400px) {
        .skill-container-content {
            width: 70%;
        }
    }

    @media (max-width: 700px) {
        .skill-container-content {
            width: 300px;
        }
    }
}

@media (max-width: 1400px) {

    .skill-container {
        padding: 70px;
    }
}