@import '../../scss/variables.scss';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    max-width: 100%;
    max-height: 350px;
    padding: 24px 145px 24px 145px;
    background: $black-glass-color;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1em;

        .contact-link {
            display: flex;
            align-items: center;
        }

        img {
            margin-right: 20px;
        }

        a {
            color: $white-color;
        }

        @media (max-width: 375px) {
            h1 {
                    margin: auto;
                }
        }
         
    }

    @media (max-width: 700px) {
         .contact-details {
            margin-left: -20px;
            height: 200px;
        }
    }
}

.back-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    background: $white-color;

    .btn-image {
        width: 20px;
        margin-right: 10px;
    }

    .back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        font-weight: 800;
        padding-right: 24px;
        background: $white-color;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
     .footer {
       padding: 24px 40px 24px 40px;
    }
}
