@import '../../scss/variables.scss';

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: $white-color;
    width: 100%;
    min-height: 300px;
    background: $black-glass-color;

    .lets-talk {
        margin-top: -90px;

        h1 {
            margin-bottom: 30px;
        }

        img {
            margin-right: 20px;
        }

        a {
            display: flex;
            align-items: center;
            color: white;
        }
    }

    @media (max-width: 700px) {
        .lets-talk {
            margin-top: 0px;
        }
    }

    p {
        margin-bottom: -200px;
    }

    .contact-details {
        height: 200px;

        .icon-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;

            .contact-link {
                display: flex;
                align-items: center;
            }

            img {
                margin-right: 20px;
            }

            a {
                color: white;
            }
        }
    }

    @media (max-width: 700px) {
        .contact-details {
            margin-left: -80px;
            height: 200px;
        }
    }
}