@import '../../scss/variables.scss';

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: $white-color;
    width: 100%;
    min-height: 200px;
    background: $black-glass-color;

    .btn-download {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        color: $black-glass-color;
        font-weight: bold;
        background: $white-color;
        border-radius: 8px;
        transition: all .3s;
        box-shadow: 0px 0px 10px $white-color;
    }

    .btn-download:hover {
        transform: translate3d(0, -2px, 0) scale(1.05);
        box-shadow: 0px 0px 20px $white-color;
    }

    @media (max-width: 700px) {
        .btn-download {
            margin-bottom: 40px;
        }
    }

    p {
        margin-bottom: -200px;
    }

    .contact-details {
        margin: 20px;

        .icon-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 150px;

            .contact-link {
                display: flex;
                align-items: center;
            }

            img {
                margin-right: 20px;
            }

            a {
                color: white;
            }
        }
    }

    @media (max-width: 700px) {
        .contact-details {
            margin-left: -20px;
            height: 200px;
        }
    }
}